@import "tailwindcss";

:root {
  --c-brand-orange: #ff5100;
  --c-positive: #3cab68;
  --c-secondary: #868686;
  --c-primary: #f8f8f8;
  --c-primary-border: #e1e1e1;
  --c-secondary-border: #e5e5e5;
  --font-sans: "Euclid Circular A", ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --color-brand-orange: var(--c-brand-orange);
  --color-positive: var(--c-positive);
  --color-secondary: var(--c-secondary);
  --color-primary: var(--c-primary);
  --color-primary-border: var(--c-primary-border);
  --color-secondary-border: var(--c-secondary-border);
}

body {
  background: var(--background);
  color: var(--foreground);
}
